################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContactManager/.vs/ContactManager
/ContactManager/MarketingWeb/bin/Debug/net8.0
/ContactManager/ContactManagerTests/bin/Debug/net8.0
/ContactManager/ContactManagerTests/obj
/ContactManager/ContactManagerRepository/bin/Debug/net8.0
/ContactManager/ContactManagerRepository/obj
/ContactManager/MarketingWeb/obj
/ContactManager/ContactManager/bin/Debug/net8.0
/ContactManager/ContactManager/obj
/ContactManager/ContactManagerRepository.Tests/bin/Debug/net8.0
/ContactManager/ContactManagerRepository.Tests/obj
/ContactManager/MarketingWeb.Tests/bin/Debug/net8.0
/ContactManager/MarketingWeb.Tests/obj
/ContactManager/ContactManagerRepository.Integration/bin/Debug/net8.0
/ContactManager/ContactManagerRepository.Integration/obj
/ContactManager/.vs/ProjectEvaluation
/ContactManager/ContactManager.Tests/bin/Debug/net8.0
/ContactManager/ContactManager.Tests/obj
/ContactManager/ContactManager.TestsX
/ContactManager/MarketingWeb.Integration/bin/Debug/net8.0
/ContactManager/MarketingWeb.Integration/obj
/ContactManager/ContactManagerRepositoryDB/bin/Debug/net8.0
/ContactManager/ContactManagerRepositoryDB/obj
/ContactManager/ContactManagerRepositoryDB.Integration/bin/Debug/net8.0
/ContactManager/ContactManagerRepositoryDB.Integration/obj
